* {
  box-sizing: border-box;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container2 > div {
  background-color: #f1f1f1;
  flex: 1; 
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.flex-container3 {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
}

.flex-item-left2 {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

.flex-item-right2 {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-container4 {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container4 > div {
  background-color: #f1f1f1;
  flex: 1; 
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 10px;
}
