body {
  background-image: url("https://www.pexels.com/photo/photography-of-green-rock-formation-1155092/");
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: white
  }
  
  p {
    font-family: 'Times New Roman', Times, serif;
  }