body {
  background-image: url('mountain.jpg');
}
h1 {
  color: #DCEED1;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #DCEED1;
  font-size: 40px;
}

p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

li {
  color: white;
  font-family: 'Times New Roman', Times, serif;
}